* {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

/****************   Nav Section **********************/
#spacer {
  margin: 100px;
  border-bottom: 3px solid rgba(117, 87, 188, 0.455);
}

nav {
  background-color: rgb(178, 181, 255);
  border-bottom: 3px solid rgb(117, 87, 188);
  color: rgb(41, 15, 87);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-1 {
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 400;
}

.nav-1:hover {
  animation: bounce 0.5s ease-in-out;
}

#info {
  padding: 0px 20px;
}

#boxes {
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: space-between;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

#link {
  text-decoration: none;
  background-color: rgb(47, 18, 113);
  border-radius: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  padding: 10px;
  color: rgb(242, 235, 255);
}

#link:hover {
  background-color: rgb(157, 124, 235);
  color: rgb(47, 18, 113);
}

/***********************  Footer Section   **************************/
footer {
  padding: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgb(178, 181, 255);
  border-top: 3px solid rgb(117, 87, 188);
  color: rgb(41, 15, 87);
  display: flex;
  justify-content: center;
}

#name-1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(47, 18, 113);
}

/*********** Splash Page ************************/
header {
  text-align: center;
}

#id {
  background-color: rgb(243, 231, 255);
  border-radius: 0px 0px 5px 5px;
  border-bottom: 2px solid rgb(117, 87, 188);
  border-left: 2px solid rgb(117, 87, 188);
  border-right: 2px solid rgb(117, 87, 188);
  padding-top: 20px;
}

header h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 32px;
  color: rgb(41, 15, 87);
}

.address,
.tagline {
  text-align: center;
}

h2 {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  color: rgb(41, 15, 87);
}

header img {
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(117, 87, 188);
  box-shadow: 5px 5px rgba(117, 87, 188, 0.295);
}

#con {
  margin: auto;
  padding: 30px;
  color: rgb(41, 15, 87);
}

#con-2 {
  color: rgb(41, 15, 87);
  padding-bottom: 30px;
  text-align: center;
}

/************* Sections ********************/
section {
  padding: 30px;
  border: 2px solid rgb(117, 87, 188);
  box-shadow: 5px 5px rgba(117, 87, 188, 0.295);
  border-radius: 10px;
}

#hov {
  transition: transform 0.1s ease-out;
}

#hov:hover {
  transform: scale(1.05);
}

hr {
  color: rgb(117, 87, 188);
}

section h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 32px;
  color: rgb(41, 15, 87);
}

section dl {
  display: grid;
}

section ul {
  list-style-type: square;
}

section a {
  color: rgb(54, 96, 212);
  text-decoration: none;
}

section a:hover {
  background-color: rgb(218, 196, 238);
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 10px;
  text-align: center;
  padding-bottom: 30px;
  gap: 10px;
}

.card img {
  width: 250px;
  border: 2px solid rgb(117, 87, 188);
}

.card {
  width: 300px;
  height: 500px;
  background-color: rgb(243, 231, 255);
  border-radius: 5px;
  border: 2px solid rgb(117, 87, 188);
  padding: 10px;
  transition: transform 0.1s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .three-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 20px;
    place-items: center;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 20px;
    place-items: center;
  }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
}

input {
  background-color: #ececec;
  color: rgb(41, 15, 87);
  border: none;
  border-bottom: 1px solid rgb(117, 87, 188);
}

textarea {
  background-color: #ececec;
  color: rgb(41, 15, 87);
  border: 1px solid rgb(117, 87, 188);
}